<div id="{{armorType}}" class="item"> <!--Plastron-->
    <div class="item-data">
        <div class="multiFields-spaced">
            <div>
                <label>{{ armorLabel "dhs-jdr.ui.sheets.inventory.equipment.armor." armorType }} :</label>
                <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.name" data-dtype="String" value="{{armor.name}}">
            </div>                      
            <div class="price">
                <label>{{ localize "dhs-jdr.ui.sheets.equipped.armor.price" }} :</label>
                <input type="text" placeholder="-----" name="system.equipment.armors.{{armorType}}.price" data-dtype="String" value="{{armor.price}}">
            </div>
            <div class="weight">
                <label>{{ localize "dhs-jdr.ui.sheets.equipped.armor.weight" }} :</label>
                <input type="text" placeholder="--" name="system.equipment.armors.{{armorType}}.weight" data-dtype="String" value="{{armor.weight}}">
            </div>
        </div>

        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.equipped.armor.type" }} :</label>
            <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.type" data-dtype="String" value="{{armor.type}}">
        </div>

        <div class="resistance">
            <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.label" }} :</label>
            <div>
                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.piercing" }} :</label>
                    <input type="number" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.piercing" data-dtype="Number" value="{{formatNumber armor.resistance.piercing}}">
                </div> 

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.contondant" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.contondant" data-dtype="Number" value="{{formatNumber armor.resistance.contondant}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.slash" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.slash" data-dtype="Number" value="{{formatNumber armor.resistance.slash}}">
                </div>   

                <div></div>

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.fire" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.fire" data-dtype="Number" value="{{formatNumber armor.resistance.fire}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.water" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.water" data-dtype="Number" value="{{formatNumber armor.resistance.water}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.nature" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.nature" data-dtype="Number" value="{{formatNumber armor.resistance.nature}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.air" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.air" data-dtype="Number" value="{{formatNumber armor.resistance.air}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.occult" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.occult" data-dtype="Number" value="{{formatNumber armor.resistance.occult}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.spirit" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.spirit" data-dtype="Number" value="{{formatNumber armor.resistance.spirit}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.light" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.light" data-dtype="Number" value="{{formatNumber armor.resistance.light}}">
                </div>   

                <div class="field">
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.resistance.darkness" }} :</label>
                    <input type="text" placeholder="----------" name="system.equipment.armors.{{armorType}}.resistance.darkness" data-dtype="Number" value="{{formatNumber armor.resistance.darkness}}">
                </div>                                                                                                                                                                                                                                                                                                                     
            </div>
        </div>

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.equipped.armor.effects" }} :</label>
            <textarea rows="2" placeholder="--------------------------------------------------" name="system.equipment.armors.{{armorType}}.effects" data-dtype="String">{{{formatTextarea armor.effects}}}</textarea>
        </div>
    </div>
</div>