<div class="item" data-type="specializations" data-index="{{id}}">
    <div class="item-data">
        <div class="multiFields-start">
            <div class="specialization">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                <input type="text" placeholder="---------------------------------------------" name="data.aptitudes.specializations.{{id}}.name" data-dtype="String" value="{{name}}">
            </div>
            <div class="level">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                <input type="text" placeholder="--------------------------------------------------" name="data.aptitudes.specializations.{{id}}.level" data-dtype="String" value="{{level}}">
            </div>               
        </div>                               

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
            <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" name="data.aptitudes.specializations.{{id}}.description" data-dtype="String">{{{formatTextarea description}}}</textarea>
        </div>
    </div>

    <div class="item-actions">
        <i class="fas fa-times deleteItem"></i>
    </div>
</div>