<div class="statsSummary">
    <div class="attacks">
        <label>{{ localize "dhs-jdr.ui.sheets.stats.bonus.attack" }} :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="piercing">
                    <img ></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.piercing}}" readonly>
                </div>
                <div class="slash">
                    <img ></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.slash}}" readonly>
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.contondant}}" readonly>
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="fire">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.fire}}" readonly>
                </div>   
                <div  class="water">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.water}}" readonly>
                </div>   
                <div  class="nature">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.nature}}" readonly>
                </div>   
                <div  class="air">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.air}}" readonly>
                </div>   
            </div>
            
            <div class="stats-block">
                <div  class="occult">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.occult}}" readonly>
                </div>
                <div class="spirit">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.spirit}}" readonly>
                </div>   
                <div class="light">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.light}}" readonly>
                </div>   
                <div class="darkness">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.darkness}}" readonly>
                </div>                                                   
            </div>
        </div>
    </div>

    <div class="defense">
        <label>{{ localize "dhs-jdr.ui.sheets.stats.bonus.defense" }} :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="piercing">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.piercing}}" readonly>
                </div>
                <div class="slash">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.slash}}" readonly>
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.contondant}}" readonly>
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="fire">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.fire}}" readonly>
                </div> 
                <div class="water">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.water}}" readonly>
                </div>   
                <div class="nature">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.nature}}" readonly>
                </div>   
                <div class="air">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.air}}" readonly>
                </div>   
            </div>
            
            <div class="stats-block">
                <div class="occult">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.occult}}" readonly>
                </div>
                <div class="spirit">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.spirit}}" readonly>
                </div>   
                <div class="light">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.light}}" readonly>
                </div>   
                <div class="darkness">
                    <img></img>
                    <input type="number" maxlength="2" placeholder="--" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.darkness}}" readonly>
                </div>                                                   
            </div>
        </div>
    </div>
</div>