<div class="statsSummary">
    <div class="attacks">
        <label>{{ localize "dhs-jdr.ui.sheets.stats.bonus.attack" }} :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="piercing">
                    <img ></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.piercing" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.piercing}}">
                </div>
                <div class="slash">
                    <img ></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.slash" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.slash}}">
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.contondant" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.contondant}}">
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="fire">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.fire" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.fire}}">
                </div>   
                <div  class="water">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.water" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.water}}">
                </div>   
                <div  class="nature">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.nature" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.nature}}">
                </div>   
                <div  class="air">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.air" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.air}}">
                </div>   
            </div>
            
            <div class="stats-block">
                <div  class="occult">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.occult" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.occult}}">
                </div>
                <div class="spirit">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.spirit" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.spirit}}">
                </div>   
                <div class="light">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.light" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.light}}">
                </div>   
                <div class="darkness">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.attack.darkness" data-dtype="Number" value="{{formatNumber data.data.bonus.attack.darkness}}">
                </div>                                                   
            </div>
        </div>
    </div>

    <div class="defense">
        <label>{{ localize "dhs-jdr.ui.sheets.stats.bonus.defense" }} :</label>
        <div class="stats">
            <div class="stats-block">
                <div class="piercing">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.piercing" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.piercing}}">
                </div>
                <div class="slash">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.slash" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.slash}}">
                </div>
                <div class="contondant">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.contondant" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.contondant}}">
                </div>                                
            </div>
            
            <div class="stats-block">
                <div class="fire">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.fire" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.fire}}">
                </div>   
                <div class="water">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.water" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.water}}">
                </div>   
                <div class="nature">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.nature" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.nature}}">
                </div>   
                <div class="air">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.air" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.air}}">
                </div>   
            </div>
            
            <div class="stats-block">
                <div class="occult">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.occult" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.occult}}">
                </div>
                <div class="spirit">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.spirit" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.spirit}}">
                </div>   
                <div class="light">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.light" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.light}}">
                </div>   
                <div class="darkness">
                    <img></img>
                    <input type="number" placeholder="--" name="data.bonus.defense.darkness" data-dtype="Number" value="{{formatNumber data.data.bonus.defense.darkness}}">
                </div>                                                   
            </div>
        </div>
    </div>
</div>