<div class="item">
    <div class="item-data">
        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.name" }} :</label>
            <input type="text" placeholder="----------">
        </div>       

        <div class="multiFields-start">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.price" }} :</label>
                <input type="text" maxlength="5" placeholder="-----">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weight" }} :</label>
                <input type="text" maxlength="5" placeholder="-----">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.type" }} :</label>
                <input type="text" maxlength="20" placeholder="--------------------">
            </div>                        
        </div>

        <div class="multiFields-start">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.numberOfHands" }} :</label>
                <input type="text" maxlength="5" placeholder="-----">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.range" }} :</label>
                <input type="text" maxlength="5" placeholder="-----">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.test" }} :</label>
                <input type="text" maxlength="20" placeholder="--------------------">
            </div>                        
        </div>                    

        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.damage" }} :</label>
            <input type="text" placeholder="----------">
        </div>

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.effects" }} :</label>
            <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
        </div>
    </div>

    <div class="item-actions">
        <i class="fas fa-times"></i>
    </div>
</div>