<div class="weaponContainer">
    <div class="item">
        <div class="item-data">
            <div class="multiFields">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.name" }} 1 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.price" }} :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.weight" }} :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.type" }} :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.numberOfHands" }} :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.range" }} :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.test" }} :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.damage" }} :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.effects" }} :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.name" }} 2 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.price" }} :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.weight" }} :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.type" }} :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.numberOfHands" }} :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.range" }} :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.test" }} :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.damage" }} :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.effects" }} :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.name" }} 3 :</label>
                    <input type="text" placeholder="----------">
                </div>                      
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.price" }} :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.weight" }} :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.type" }} :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>

            <div class="multiFields">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.numberOfHands" }} :</label>
                    <input type="text" maxlength="2" placeholder="--">
                </div>                      
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.range" }} :</label>
                    <input type="text" maxlength="5" placeholder="-----">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.test" }} :</label>
                    <input type="text" maxlength="3" placeholder="--">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.damage" }} :</label>
                    <input type="text" placeholder="-----------------">
                </div>                
            </div>           

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.equipped.weapon.effects" }} :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>         
</div>