<div class="title">{{title}}</div>
<div class="content">
    <div class="row dices">
        <div>{{localize 'dhs-jdr.ui.dialog.testType'}}</div>
        <select class="flex1" name="dice" id="dice" data-type="String" onChange="
            let difficulty = document.querySelector('.difficulty');
            if (difficulty) difficulty.style.visibility = this.value === 'confront' ? 'hidden' : 'visible';">

            <option value="test">{{localize 'dhs-jdr.ui.dialog.test'}}</option>
            <option value="confront">{{localize 'dhs-jdr.ui.dialog.confront'}}</option>
        </select>
    </div>
    <div class="row bonus">
        <div>{{localize 'dhs-jdr.ui.dialog.bonus'}}</div>
        <input>
    </div>
    <div class="row difficulty">
        <div>{{localize 'dhs-jdr.ui.dialog.difficulty'}}</div>
        <input>
    </div>   
</div>