<form class="{{cssClass}}" autocomplete="off" spellcheck="false">
    <div class="wrapper">
        <div class="npc-sheet-banner">
            <label class="title">{{ localize "dhs-jdr.ui.sheets.npc.title" }}</label>

            <div class="hpMp">
                <div class="hp">
                    <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.hp" }} :</label>
                    <input type="number" placeholder="---" name="data.hp.current" data-dtype="Number" value="{{formatNumber data.data.hp.current}}">
                    <label>/</label>
                    <input type="number" placeholder="---" name="data.hp.max" data-dtype="Number" value="{{formatNumber data.data.hp.max}}">
                </div>

                <div class="mp">
                    <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.mp" }} :</label>
                    <input type="number" placeholder="---" name="data.mp.current" data-dtype="Number" value="{{formatNumber data.data.mp.current}}">
                    <label>/</label>
                    <input type="number" placeholder="---" name="data.mp.max" data-dtype="Number" value="{{formatNumber data.data.mp.max}}">
                </div>             
            </div>

            <div class="dodge">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.dodge" }} :</label>
                    <input type="number" placeholder="---" name="data.attributes.dodge" data-dtype="Number" value="{{formatNumber data.data.attributes.dodge}}">
                </div>

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.parry" }} :</label>
                    <input type="number" placeholder="---" name="data.attributes.parry" data-dtype="Number" value="{{formatNumber data.data.attributes.parry}}">
                </div>                
            </div>

            <div class="distance">
                <label>{{ localize "dhs-jdr.ui.sheets.npc.speed" }} :</label>
                <div class="field">
                    <input type="number" placeholder="---" name="data.speed.distance" data-dtype="Number" value="{{formatNumber data.data.speed.distance}}">
                    <label>{{ localize "dhs-jdr.ui.sheets.npc.speedUnit" }}</label>
                </div>
            </div>

            <div class="xp" style="height: 20px;">
                <label>{{ localize "dhs-jdr.ui.sheets.npc.xp" }} :</label>
                <input type="number" placeholder="-----" name="data.xp" data-dtype="Number" value="{{formatNumber data.data.xp}}">
            </div>
        </div>
        
        <section class="npc-sheet-body">            
            <div class="attributes-row">
                <img class="avatar" src="{{actor.img}}" data-edit="img"></img>
                <div class="box">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.npc.race" }} :</label>
                            <input type="text" placeholder="----------" name="data.race" data-dtype="String" value="{{data.data.race}}">
                        </div>                      
                        <div class="type">
                            <label>{{ localize "dhs-jdr.ui.sheets.npc.type" }} :</label>
                            <input type="text" placeholder="-----" name="data.type" data-dtype="String" value="{{data.data.type}}">
                        </div>
                    </div>

                    <div class="multiFields-spaced">
                        <div class="taille">
                            <label for="taillem">{{ localize "dhs-jdr.ui.sheets.npc.size" }} :</label>
                            <input id="taillem" type="number" placeholder="--" name="data.size.units" data-dtype="Number" value="{{formatNumber data.data.size.units}}">
                            <label for="taillecm">{{ localize "dhs-jdr.ui.sheets.npc.sizeUnit" }}</label>
                            <input id="taillecm" type="number" placeholder="--" name="data.size.decimals" data-dtype="Number" value="{{formatNumber data.data.size.decimals}}">
                        </div>
                        <div class="sexe">
                            <label>{{ localize "dhs-jdr.ui.sheets.npc.sexe" }} :</label>
                            <input type="text" placeholder="-" name="data.sexe" data-dtype="String" value="{{data.data.sexe}}">
                        </div>
                        <div class="weight">
                            <label>{{ localize "dhs-jdr.ui.sheets.npc.weight" }} :</label>
                            <input type="number" placeholder="---" name="data.weight" data-dtype="Number" value="{{formatNumber data.data.weight}}">
                            <label class="field" for="taillecm">{{ localize "dhs-jdr.ui.sheets.npc.weightUnit" }}</label>
                        </div>                            
                    </div>

                    <div class="field">      
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.name" }} :</label>                
                        <input type="text" name="name" value="{{actor.name}}" placeholder="-------------------------------------">            
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.language" }} :</label>                
                        <textarea rows="2" placeholder="--------------------------------------------------" name="data.language" data-dtype="String">{{{formatTextarea data.data.language}}}</textarea>
                    </div>        
                </div>

                <div class="attributes-block">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.strength" }}</label>
                        <input type="number" placeholder="---" name="data.attributes.strength" data-dtype="Number" value="{{formatNumber data.data.attributes.strength}}">
                    </div>

                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.dexterity" }}</label>
                        <input type="number" placeholder="---" name="data.attributes.dexterity" data-dtype="Number" value="{{formatNumber data.data.attributes.dexterity}}">
                    </div>

                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.arcana" }}</label>
                        <input type="number" placeholder="---" name="data.attributes.arcana" data-dtype="Number" value="{{formatNumber data.data.attributes.arcana}}">
                    </div>


                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.constitution" }}</label>
                        <input type="number" placeholder="---" name="data.attributes.constitution" data-dtype="Number" value="{{formatNumber data.data.attributes.constitution}}">
                    </div>

                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.charisma" }}</label>
                        <input type="number" placeholder="---" name="data.attributes.charisma" data-dtype="Number" value="{{formatNumber data.data.attributes.charisma}}">
                    </div>

                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.npc.attributes.erudition" }}</label>
                        <input type="number" placeholder="---" name="data.attributes.erudition" data-dtype="Number" value="{{formatNumber data.data.attributes.erudition}}">
                    </div>           
                </div>        
            </div>

            {{> "systems/dhs-jdr/templates/actors/tabs/parts/capacities.hbs"}}

            {{> "systems/dhs-jdr/templates/actors/tabs/parts/weapons.hbs"}}                

            {{> "systems/dhs-jdr/templates/actors/tabs/parts/npc-statsSummary.hbs"}}
            
        </section>
    </div>
</form>