<div class="item" data-type="activeCapacities" data-index="{{id}}">
    <div class="item-data">
        <div class="multiFields-spaced">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.name" }} :</label>                
                <input type="text" placeholder="---------------------------------------------">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.level" }} :</label>
                <input type="text" maxlength="3" placeholder="--------------------------------------------------">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.cost" }} :</label>
                <input type="text" maxlength="5" placeholder="--------------------------------------------------">
            </div>                
        </div>

        <div class="multiFields-spaced">
            <div class="range">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.range" }} :</label>                
                <input type="text" maxlength="10" placeholder="--------------------------------------------------">
            </div>
            <div class="target">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.target" }} :</label>
                <input type="text" maxlength="10" placeholder="--------------------------------------------------">
            </div>
            <div class="lineOfSight">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.lineOfSight" }} :</label>
                <input type="text" maxlength="20" placeholder="--------------------------------------------------">
            </div>                
        </div>

        <div class="multiFields-spaced">
            <div class="cast">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.cast" }} :</label>                
                <input type="text" maxlength="10" placeholder="--------------------------------------------------">
            </div>
            <div class="duration">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.duration" }} :</label>
                <input type="text" maxlength="10" placeholder="--------------------------------------------------">
            </div>
            <div class="test">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.test" }} :</label>
                <input type="text" maxlength="20" placeholder="--------------------------------------------------">
            </div>                
        </div>                       

        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.cc" }} :</label>
            <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
        </div>  
        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.ec" }} :</label>
            <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------">
        </div>                  

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.effects" }} :</label>
            <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
        </div>
    </div>

    <div class="item-actions">
        <i class="fas fa-times deleteCapacity"></i>
    </div>
</div>