<div class="item" data-type="activeCapacities" data-index="{{id}}">
    <div class="item-data">
        <div class="multiFields-spaced">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.name" }} :</label>                
                <input type="text" placeholder="---------------------------------------------" name="data.capacities.activeCapacities.{{id}}.name" data-dtype="String" value="{{name}}">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.level" }} :</label>
                <input type="text" maxlength="3" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.level" data-dtype="String" value="{{level}}">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.cost" }} :</label>
                <input type="text" maxlength="5" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.cost" data-dtype="String" value="{{cost}}">
            </div>                
        </div>

        <div class="multiFields-spaced">
            <div class="range">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.range" }} :</label>                
                <input type="text" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.range" data-dtype="String" value="{{range}}">
            </div>
            <div class="target">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.target" }} :</label>
                <input type="text" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.target" data-dtype="String" value="{{target}}">
            </div>
            <div class="lineOfSight">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.lineOfSight" }} :</label>
                <input type="text" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.lineOfSight" data-dtype="String" value="{{lineOfSight}}">
            </div>                
        </div>

        <div class="multiFields-spaced">
            <div class="cast">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.cast" }} :</label>                
                <input type="text" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.cast" data-dtype="String" value="{{cast}}">
            </div>
            <div class="duration">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.duration" }} :</label>
                <input type="text" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.duration" data-dtype="String" value="{{duration}}">
            </div>
            <div class="test">
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.test" }} :</label>
                <input type="text" placeholder="--------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.test" data-dtype="String" value="{{test}}">
            </div>                
        </div>                       

        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.cc" }} :</label>
            <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.cc" data-dtype="String" value="{{cc}}">
        </div>  
        <div class="field">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.ec" }} :</label>
            <input type="text" placeholder="-----------------------------------------------------------------------------------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.ec" data-dtype="String" value="{{ec}}">
        </div>                  

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.active.effects" }} :</label>
            <textarea rows="2" placeholder="-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" name="data.capacities.activeCapacities.{{id}}.effects" data-dtype="String">{{{formatTextarea effects}}}</textarea>
        </div>
    </div>

    <div class="item-actions">
        <i class="fas fa-times deleteItem"></i>
    </div>
</div>