<div class="item" data-type="passiveCapacities" data-index="{{id}}">
    <div class="item-data">
        <div class="multiFields-start">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.passive.name" }} :</label>                
                <input type="text" placeholder="-------------------------" name="data.capacities.passiveCapacities.{{id}}.name" data-dtype="String" value="{{name}}">
            </div>
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.capacities.passive.level" }} :</label>
                <input type="text" maxlength="3" placeholder="---" name="data.capacities.passiveCapacities.{{id}}.level" data-dtype="String" value="{{level}}">
            </div>
        </div>

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.capacities.passive.effects" }} :</label>
            <textarea rows="2" placeholder="--------------------------------------------------" name="data.capacities.passiveCapacities.{{id}}.effects" data-dtype="String">{{{formatTextarea effects}}}</textarea>
        </div>
    </div>

    <div class="item-actions">
        <i class="fas fa-times deleteItem"></i>
    </div>
</div>