<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.aptitudes" }}</div>
<div class="specializationContainer">
    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <!--Mock Data-->
    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="multiFields-start">
                <div class="specialization">
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.specialization" }} :</label>                
                    <input type="text" placeholder="---------------------------------------------">
                </div>
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.level" }} :</label>
                    <input type="text" maxlength="3" placeholder="--------------------------------------------------">
                </div>               
            </div>                               

            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.aptitudes.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <i class="fas fa-plus-circle addButton"></i>      
</div>

<div class="racialAptitudesContainer">
    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.name" }} :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <!--Mock Data-->
    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.name" }} :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.name" }} :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.name" }} :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="item">
        <div class="item-data">
            <div class="racialAptitude">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.name" }} :</label>
                <input type="text" placeholder="--------------------------------------------------">
            </div>               
                             
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.racialCapacities.description" }} :</label>
                <textarea rows="2" placeholder="-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"></textarea>
            </div>
        </div>

        <div class="item-actions">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <i class="fas fa-plus-circle addButton"></i>                       
</div>

<div class="attributes-header">
    <label class="tab-title">{{ localize "dhs-jdr.ui.sheets.character.attributes.label" }}</label>
</div>

<div class="attributes-block">
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.strength" }}</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.dexterity" }}</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.arcana" }}</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>


    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.constitution" }}</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.charisma" }}</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.erudition" }}</label>
        <input type="text" maxlength="3" placeholder="---">
    </div>           
</div>