<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.aptitudes" }}</div>
<div class="specializationContainer" data-category="aptitudes">
    {{#each data.data.aptitudes.specializations as |aptitude id|}}
        {{> "systems/dhs-jdr/templates/aptitudes/specialization.hbs" aptitude=aptitude id=id}}
    {{/each}}       

    <i class="fas fa-plus-circle addItem" data-type="specializations"></i>      
</div>

<div class="racialAptitudesContainer" data-category="aptitudes">
    {{#each data.data.aptitudes.racialCapacities as |aptitude id|}}
        {{> "systems/dhs-jdr/templates/aptitudes/racialCapacity.hbs" aptitude=aptitude id=id}}
    {{/each}}   

    <i class="fas fa-plus-circle addItem" data-type="racialCapacities"></i>                       
</div>

<div class="attributes-header">
    <label class="tab-title">{{ localize "dhs-jdr.ui.sheets.character.attributes.label" }}</label>
</div>

<div class="attributes-block">
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.strength" }}</label>
        <input type="number" placeholder="---" data-dtype="Number" value="{{formatNumber data.data.attributes.strength}}" readonly>
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.dexterity" }}</label>
        <input type="number" placeholder="---" data-dtype="Number" value="{{formatNumber data.data.attributes.dexterity}}" readonly>
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.arcana" }}</label>
        <input type="number" placeholder="---" data-dtype="Number" value="{{formatNumber data.data.attributes.arcana}}" readonly>
    </div>


    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.constitution" }}</label>
        <input type="number" placeholder="---" data-dtype="Number" value="{{formatNumber data.data.attributes.constitution}}" readonly>
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.charisma" }}</label>
        <input type="number" placeholder="---" data-dtype="Number" value="{{formatNumber data.data.attributes.charisma}}" readonly>
    </div>

    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.erudition" }}</label>
        <input type="number" placeholder="---" data-dtype="Number" value="{{formatNumber data.data.attributes.erudition}}" readonly>
    </div>           
</div>