<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.character" }}</div>
<div class="attributes">
    <div class="box left">        
        <div class="multiFields-spaced">
            <div class="age">
                <label>{{ localize "dhs-jdr.ui.sheets.character.age" }} :</label>                
                <input type="number" placeholder="---" name="system.age" data-dtype="Number" value="{{formatNumber actor.system.age}}">
            </div>
            <div class="taille">
                <label for="taillem">{{ localize "dhs-jdr.ui.sheets.character.size" }} :</label>
                <input id="taillem" type="number" placeholder="--" name="system.size.units" data-dtype="Number" value="{{formatNumber actor.system.size.units}}">
                <label for="taillecm">{{ localize "dhs-jdr.ui.sheets.character.sizeUnit" }}</label>
                <input id="taillecm" type="number" placeholder="--" name="system.size.decimals" data-dtype="Number" value="{{formatNumber actor.system.size.decimals}}">
            </div>
            <div class="sexe">
                <label>{{ localize "dhs-jdr.ui.sheets.character.sexe" }} :</label>
                <input type="text" placeholder="-" name="system.sexe" data-dtype="String" value="{{actor.system.sexe}}">
            </div>
        </div>

        <div class="multiFields-spaced">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.character.race" }} :</label>                
                <input type="text" placeholder="------------------" name="system.race" data-dtype="String" value="{{actor.system.race}}">
            </div>
            <div class="weight">
                <label>{{ localize "dhs-jdr.ui.sheets.character.weight" }} :</label>
                <input type="number" placeholder="---" name="system.weight" data-dtype="Number" value="{{formatNumber actor.system.weight}}">
                <label class="field" for="taillecm">{{ localize "dhs-jdr.ui.sheets.character.weightUnit" }}</label>
            </div>
        </div>

        <div class="field">      
            <label>{{ localize "dhs-jdr.ui.sheets.character.name" }} :</label>                
            <input type="text" name="name" value="{{actor.name}}" data-dtype="String" placeholder="-------------------------------------">            
        </div>

        <div class="fieldArea">
            <label>{{ localize "dhs-jdr.ui.sheets.character.language" }} :</label>                
            <textarea rows="2" placeholder="--------------------------------------------------" name="system.language" data-dtype="String">{{{formatTextarea actor.system.language}}}</textarea>
        </div>        

    </div>

    <div class="right">
        <div class="box racial">
            <div>{{ localize "dhs-jdr.ui.sheets.character.racialCapacities.label" }}</div>
            <textarea rows="4" placeholder="--------------------------------------------------" name="system.racialCapacity" data-dtype="String">{{{formatTextarea actor.system.racialCapacity}}}</textarea>
        </div>
        <div class="speed">
            <div></div>
            <div class="box">                                              
                <input type="text" placeholder="---" name="system.speed.distance" data-dtype="Number" value="{{formatNumber actor.system.speed.distance}}">
                <label>{{ localize "dhs-jdr.ui.sheets.character.speedUnit" }}</label>  
            </div>
            <div>
                <input type="text" placeholder="---" name="system.speed.modifier" data-dtype="Number" value="{{formatNumber actor.system.speed.modifier}}">
            </div>
        </div>
    </div>
</div>

<div class="rowStats-1">
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.strength" }}</label>
        <input type="number" placeholder="--" name="system.attributes.strength" data-dtype="Number" value="{{formatNumber actor.system.attributes.strength}}">
        <div class="roll" data-roll-stat="strength"></div>
    </div>
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.dexterity" }}</label>
        <input type="number" placeholder="--" name="system.attributes.dexterity" data-dtype="Number" value="{{formatNumber actor.system.attributes.dexterity}}">
        <div class="roll" data-roll-stat="dexterity"></div>
    </div>
</div>

<div class="rowStats-2">
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.constitution" }}</label>
        <input type="number" placeholder="--" name="system.attributes.constitution" data-dtype="Number" value="{{formatNumber actor.system.attributes.constitution}}">
        <div class="roll" data-roll-stat="constitution"></div>
    </div>
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.arcana" }}</label>
        <input type="number" placeholder="--" name="system.attributes.arcana" data-dtype="Number" value="{{formatNumber actor.system.attributes.arcana}}">
        <div class="roll" data-roll-stat="arcana"></div>
    </div>
</div>

<div class="hpmp">
    <div class="hp">
        <input type="number" placeholder="---" name="system.hp.current" data-dtype="Number" value="{{formatNumber actor.system.hp.current}}">
        <label>/</label>
        <input type="number" placeholder="---" name="system.hp.max" data-dtype="Number" value="{{formatNumber actor.system.hp.max}}">
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.hp" }}</label>
    </div>
    <img class="avatar" src="{{actor.img}}" data-edit="img"></img>
    <div class="mp">
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.mp" }}</label>
        <input type="number" placeholder="---" name="system.mp.current" data-dtype="Number" value="{{formatNumber actor.system.mp.current}}">
        <label>/</label>
        <input type="number" placeholder="---" name="system.mp.max" data-dtype="Number" value="{{formatNumber actor.system.mp.max}}">
    </div>
</div>

<div class="rowStats-3">
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.dodge" }}</label>
        <input type="number" placeholder="--" name="system.attributes.dodge" data-dtype="Number" value="{{formatNumber actor.system.attributes.dodge}}">
        <div class="roll" data-roll-stat="dodge"></div>
    </div>
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.parry" }}</label>
        <input type="number" placeholder="--" name="system.attributes.parry" data-dtype="Number" value="{{formatNumber actor.system.attributes.parry}}">
        <div class="roll" data-roll-stat="parry"></div>
    </div>
</div>

<div class="rowStats-4">
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.charisma" }}</label>
        <input type="number" placeholder="--" name="system.attributes.charisma" data-dtype="Number" value="{{formatNumber actor.system.attributes.charisma}}">
        <div class="roll" data-roll-stat="charisma"></div>
    </div>
    <div>
        <label>{{ localize "dhs-jdr.ui.sheets.character.attributes.erudition" }}</label>
        <input type="number" placeholder="--" name="system.attributes.erudition" data-dtype="Number" value="{{formatNumber actor.system.attributes.erudition}}">
        <div class="roll" data-roll-stat="erudition"></div>
    </div>
</div>

<div class="level">
    <label>{{ localize "dhs-jdr.ui.sheets.character.level.label" }}</label>
    <input type="number" placeholder="--" name="system.level" data-dtype="Number" value="{{formatNumber actor.system.level}}">
    <div class="xp">
        <input type="number" placeholder="-----" name="system.xp.current" data-dtype="Number" value="{{formatNumber actor.system.xp.current}}">
        <label>/</label>
        <input type="number" placeholder="-----" data-dtype="Number" value="{{formatNumber actor.system.xp.max}}" readonly>
    </div>
</div>

<div class="bonusStats">
    <div class="attacks">        

        <div class="piercing">
            <img></img>
            <input type="number" placeholder="--" name="system.bonus.attack.piercing" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.piercing}}">
        </div>

        <div class="slash">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.slash" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.slash}}">
        </div>

        <div class="contondant">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.contondant" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.contondant}}">
        </div>

        <div></div>

        <div class="fire">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.fire" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.fire}}">
        </div>

        <div class="water">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.water" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.water}}">
        </div>

        <div class="nature">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.nature" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.nature}}">
        </div>

        <div class="air">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.air" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.air}}">
        </div>

        <div class="occult">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.occult" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.occult}}">
        </div>

        <div class="spirit">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.spirit" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.spirit}}">
        </div>

        <div class="light">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.light" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.light}}">
        </div>

        <div class="darkness">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.attack.darkness" data-dtype="Number" value="{{formatNumber actor.system.bonus.attack.darkness}}">
        </div>                                                                
    </div>

    <div class="defense">
        <div></div>
        
        <div class="piercing">
            <img></img>
            <input type="number" placeholder="--" name="system.bonus.defense.piercing" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.piercing}}">
        </div>

        <div class="slash">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.slash" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.slash}}">
        </div>

        <div class="contondant">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.contondant" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.contondant}}">
        </div>

        <div class="fire">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.fire" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.fire}}">
        </div>

        <div class="water">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.water" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.water}}">
        </div>

        <div class="nature">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.nature" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.nature}}">
        </div>

        <div class="air">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.air" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.air}}">
        </div>

        <div class="occult">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.occult" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.occult}}">
        </div>

        <div class="spirit">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.spirit" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.spirit}}">
        </div>

        <div class="light">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.light" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.light}}">
        </div>

        <div class="darkness">
            <img/>
            <input type="number" placeholder="--" name="system.bonus.defense.darkness" data-dtype="Number" value="{{formatNumber actor.system.bonus.defense.darkness}}">
        </div>  
    </div>
</div>