<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.equipment" }}</div>
<div class="armorRow">
    <div class="armor">
        <img class="helmet">
        <img class="pendant">
        <img class="torso">
        <img class="legs">
        <img class="leftGlove">
        <img class="rightGlove">
        <img class="leftRing">
        <img class="rightRing">
        <img class="boots">                
    </div>
    <div id="equippedArmor" class="armorContainer">
        <div id="helmet" class="item"> <!--Casque-->            
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.helmet" }} :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                        
        </div>

        <div id="torso" class="item"> <!--Plastron-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.torso" }} :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                                
        </div>

        <div id="gloves" class="item"> <!--Gants-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.gloves" }} :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                     
        </div> 

        <div id="legs" class="item"> <!--Jambière-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.legs" }} :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                         
        </div> 

        <div id="boots" class="item"> <!--Bottes-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.boots" }} :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                         
        </div> 

        <div id="pendant" class="item"> <!--Amulette-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.pendant" }} :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                     
        </div> 

        <div id="leftRing" class="item"> <!--Anneau 1-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.ring" }} 1 :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                        
        </div> 

        <div id="rightRing" class="item"> <!--Anneau 2-->
            <div class="item-data">
                <div class="multiFields-spaced">
                    <div>
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.ring" }} 2 :</label>
                        {{> "systems/dhs-jdr/templates/actors/tabs/parts/armor.hbs"}}                        
        </div>                                                      
    </div>
</div>

{{> "systems/dhs-jdr/templates/actors/tabs/parts/weapons.hbs"}}

{{> "systems/dhs-jdr/templates/actors/tabs/parts/statsSummary.hbs"}}