<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.inventory" }}</div>
<div class="itemRow">
    <div class="wallet">
        <div></div>
        <div class="box">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.wallet.PO" }}</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.wallet.PA" }}</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.wallet.PC" }}</label>
                <input type="text" maxlength="3" placeholder="---">
            </div>            
        </div>
    </div>

    <div class="right">
        <div class="header">
            <div></div>
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.consummables.title" }}</label>
        </div>

        <div class="container">            
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>


<!-- Mock Data -->
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <i class="fas fa-plus-circle addButton"></i>              
        </div>
    </div>    
</div>

<div class="generalRow">
    <div class="left">        
        <div class="weight">
            <div>
            </div>
            <div class="box">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.weight" }}</label>
                </div>

                <div>
                    <input type="text" maxlength="3" placeholder="---">
                    <label>/</label>
                    <input type="text" maxlength="3" placeholder="---">
                </div>

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.weightUnit" }}</label>
                </div>                    
            </div>
        </div>

        <div class="bag">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.description" }} :</label>
                <input type="text" maxlength="20" placeholder="--------------------">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.price" }} :</label>
                <input type="text" maxlength="10" placeholder="----------">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.size" }} :</label>
                <input type="text" maxlength="20" placeholder="--------------------">
            </div>                
        </div>            
    </div>

    <div class="right">
        <div class="header">
            <div></div>
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.general.title" }}</label>
        </div>

        <div class="container">            
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>


<!-- Mock Data -->
            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item">
                <div class="item-data">
                    <div class="multiFields-spaced">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.name" }} :</label>                
                            <input type="text" maxlength="25" placeholder="-------------------------">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.price" }} :</label>
                            <input type="text" maxlength="3" placeholder="---">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.weightUnit" }}</label>
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.item.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <i class="fas fa-plus-circle addButton"></i>              
        </div>
    </div>
</div>

<div class="equipmentRow">
    <div class="left">
        <div class="rest">
            <div>
            </div>
            <div class="box">                
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.rest.label" }}</label>                

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.rest.hp" }}</label>
                    <input type="text" maxlength="3" placeholder="---">
                    <label>/ {{ localize "dhs-jdr.ui.sheets.inventory.rest.hpDelay" }}</label>                    
                </div>

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.rest.mp" }}</label>
                    <input type="text" maxlength="3" placeholder="---">
                    <label>/ {{ localize "dhs-jdr.ui.sheets.inventory.rest.mpDelay" }}</label>                    
                </div>                  
            </div>
        </div>

        <div class="tent">
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.description" }} :</label>
                <input type="text" placeholder="----------">
            </div>
            <div class="multiFields-spaced">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.price" }} :</label>
                <input type="text" placeholder="------">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.weight" }} :</label>
                <input type="text" placeholder="------">                
            </div>
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.rest" }} :</label>
                <input type="text" placeholder="----------">
            </div>
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.bonus" }} :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.description" }} :</label>
                <input type="text" placeholder="----------">
            </div>
            <div class="multiFields-spaced">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.price" }} :</label>
                <input type="text" placeholder="------">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.weight" }} :</label>
                <input type="text" placeholder="------">                
            </div>            
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.rest" }} :</label>
                <input type="text" placeholder="----------">
            </div>                        
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.bonus" }} :</label>
                <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
            </div>
        </div>
    </div>

    <div class="right">
       <div class="header">
            <div></div>
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.title" }}</label>
        </div>

        <div class="container">
            <div class="item"> <!--Armure-->
                <div class="item-data">
                    <div class="field">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.name" }} :</label>
                        <input type="text" placeholder="----------">
                    </div>       

                    <div class="multiFields-start">                        
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.price" }} :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                        </div>
                    </div>

                    <div class="field">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.type" }} :</label>
                        <input type="text" placeholder="----------">
                    </div>

                    <div class="resistance">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.label" }} :</label>
                        <div>
                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.piercing" }} :</label>
                                <input type="text" placeholder="----------">
                            </div> 

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.blunt" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.slash" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div></div>

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.fire" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.water" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.nature" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.air" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.occult" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.spirit" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.light" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.darkness" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>                                                                                                                                                                                                                                                                                                                     
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="item"> <!--Arme-->
                <div class="item-data">
                    <div class="field">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.name" }} :</label>
                        <input type="text" placeholder="----------">
                    </div>       

                    <div class="multiFields-start">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.price" }} :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weight" }} :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>

                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.type" }} :</label>
                            <input type="text" maxlength="20" placeholder="--------------------">
                        </div>                        
                    </div>

                    <div class="multiFields-start">
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.numberOfHands" }} :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.range" }} :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>

                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.test" }} :</label>
                            <input type="text" maxlength="20" placeholder="--------------------">
                        </div>                        
                    </div>                    

                    <div class="field">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weapon.damage" }} :</label>
                        <input type="text" placeholder="----------">
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>                        

            <!--MockData-->
            <div class="item"> <!--Armure-->
                <div class="item-data">
                    <div class="field">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.armor.name" }} :</label>
                        <input type="text" placeholder="----------">
                    </div>       

                    <div class="multiFields-start">                        
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.price" }} :</label>
                            <input type="text" maxlength="5" placeholder="-----">
                        </div>
                        <div>
                            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.weight" }} :</label>
                            <input type="text" maxlength="2" placeholder="--">
                        </div>
                    </div>

                    <div class="field">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.type" }} :</label>
                        <input type="text" placeholder="----------">
                    </div>

                    <div class="resistance">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.label" }} :</label>
                        <div>
                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.piercing" }} :</label>
                                <input type="text" placeholder="----------">
                            </div> 

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.blunt" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.slash" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div></div>

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.fire" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.water" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.nature" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.air" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.occult" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.spirit" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.light" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>   

                            <div class="field">
                                <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.resistance.darkness" }} :</label>
                                <input type="text" placeholder="----------">
                            </div>                                                                                                                                                                                                                                                                                                                     
                        </div>
                    </div>

                    <div class="fieldArea">
                        <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.effects" }} :</label>
                        <textarea maxlength="50" rows="2" placeholder="--------------------------------------------------"></textarea>
                    </div>
                </div>

                <div class="item-actions">
                    <i class="fas fa-times"></i>
                </div>
            </div>          

            <div class="addEquipmentRow">
                <div class="addArmorButton">                  
                    <i class="fas fa-plus-circle"></i>
                </div>

                <div class="addWeaponButton">                  
                    <i class="fas fa-plus-circle"></i>
                </div>              
            </div>
        </div>
    </div>
</div>