<div class="tab-title">{{ localize "dhs-jdr.ui.sheets.tabs.inventory" }}</div>
<div class="itemRow">
    <div class="wallet">
        <div></div>
        <div class="box">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.wallet.PO" }}</label>
                <input type="number" placeholder="---" name="system.wallet.po" data-dtype="Number" value="{{formatNumber actor.system.wallet.po}}">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.wallet.PA" }}</label>
                <input type="number" placeholder="---" name="system.wallet.pa" data-dtype="Number" value="{{formatNumber actor.system.wallet.pa}}">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.wallet.PC" }}</label>
                <input type="number" placeholder="---" name="system.wallet.pc" data-dtype="Number" value="{{formatNumber actor.system.wallet.pc}}">
            </div>            
        </div>
    </div>

    <div class="right">
        <div class="header">
            <div></div>
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.consummables.title" }}</label>
        </div>

        <div class="container" data-category="inventory">

            {{#each actor.system.inventory.consumables as |item id|}}
                {{> "systems/dhs-jdr/templates/items/consumable.hbs" item=item id=id}}
            {{/each}}

            <i class="fas fa-plus-circle addItem" data-type="consumables"></i>              
        </div>
    </div>    
</div>

<div class="generalRow">
    <div class="left">        
        <div class="weight">
            <div>
            </div>
            <div class="box">
                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.weight" }}</label>
                </div>

                <div>
                    <input type="number" placeholder="---" name="system.bag.weight.current" data-dtype="Number" value="{{formatNumber actor.system.bag.weight.current}}">
                    <label>/</label>
                    <input type="number" placeholder="---" name="system.bag.weight.max" data-dtype="Number" value="{{formatNumber actor.system.bag.weight.max}}">
                </div>

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.weightUnit" }}</label>
                </div>                    
            </div>
        </div>

        <div class="bag">
            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.description" }} :</label>
                <input type="text" placeholder="--------------------" name="system.bag.name" data-dtype="String" value="{{actor.system.bag.name}}">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.price" }} :</label>
                <input type="number" placeholder="----------" name="system.bag.price" data-dtype="Number" value="{{formatNumber actor.system.bag.price}}">
            </div>

            <div>
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.bag.size" }} :</label>
                <input type="text" placeholder="--------------------" name="system.bag.capacity" data-dtype="String" value="{{actor.system.bag.capacity}}">
            </div>                
        </div>            
    </div>

    <div class="right">
        <div class="header">
            <div></div>
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.general.title" }}</label>
        </div>

        <div class="container" data-category="inventory">            

            {{#each actor.system.inventory.items as |item id|}}
                {{> "systems/dhs-jdr/templates/items/item.hbs" item=item id=id}}
            {{/each}}           

            <i class="fas fa-plus-circle addItem" data-type="items"></i>              
        </div>
    </div>
</div>

<div class="equipmentRow">
    <div class="left">
        <div class="rest">
            <div>
            </div>
            <div class="box">                
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.rest.label" }}</label>                

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.rest.hp" }}</label>
                    <input type="number" placeholder="---" name="system.rest.hp" data-dtype="Number" value="{{formatNumber actor.system.rest.hp}}">
                    <label>/ {{ localize "dhs-jdr.ui.sheets.inventory.rest.hpDelay" }}</label>                    
                </div>

                <div>
                    <label>{{ localize "dhs-jdr.ui.sheets.inventory.rest.mp" }}</label>
                    <input type="number" placeholder="---" name="system.rest.mp" data-dtype="Number" value="{{formatNumber actor.system.rest.mp}}">
                    <label>/ {{ localize "dhs-jdr.ui.sheets.inventory.rest.mpDelay" }}</label>                    
                </div>                  
            </div>
        </div>

        <div class="tent">
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.name" }} :</label>
                <input type="text" placeholder="----------" name="system.rest.tent.name" data-dtype="String" value="{{actor.system.rest.tent.name}}">
            </div>
            <div class="multiFields-spaced">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.price" }} :</label>
                <input type="number" placeholder="------" name="system.rest.tent.price" data-dtype="Number" value="{{formatNumber actor.system.rest.tent.price}}">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.weight" }} :</label>
                <input type="number" placeholder="------" name="system.rest.tent.weight" data-dtype="Number" value="{{formatNumber actor.system.rest.tent.weight}}">
            </div>
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.rest" }} :</label>
                <input type="text" placeholder="----------" name="system.rest.tent.rest" data-dtype="String" value="{{actor.system.rest.tent.rest}}">
            </div>
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.tent.bonus" }} :</label>
                <textarea rows="2" placeholder="--------------------------------------------------" name="system.rest.tent.bonus" data-dtype="String">{{{formatTextarea actor.system.rest.tent.bonus}}}</textarea>
            </div>
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.name" }} :</label>
                <input type="text" placeholder="----------" name="system.rest.sleepingBag.name" data-dtype="String" value="{{actor.system.rest.sleepingBag.name}}">
            </div>
            <div class="multiFields-spaced">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.price" }} :</label>
                <input type="number" placeholder="------" name="system.rest.sleepingBag.price" data-dtype="Number" value="{{formatNumber actor.system.rest.sleepingBag.price}}">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.weight" }} :</label>
                <input type="number" placeholder="------" name="system.rest.sleepingBag.weight" data-dtype="Number" value="{{formatNumber actor.system.rest.sleepingBag.weight}}">                
            </div>            
            <div class="field">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.rest" }} :</label>
                <input type="text" placeholder="----------" name="system.rest.sleepingBag.rest" data-dtype="String" value="{{actor.system.rest.sleepingBag.rest}}">
            </div>                        
            <div class="fieldArea">
                <label>{{ localize "dhs-jdr.ui.sheets.inventory.sleeping.bag.bonus" }} :</label>
                <textarea rows="2" placeholder="--------------------------------------------------" name="system.rest.sleepingBag.bonus" data-dtype="String">{{{formatTextarea actor.system.rest.sleepingBag.bonus}}}</textarea>
            </div>
        </div>
    </div>

    <div class="right">
       <div class="header">
            <div></div>
            <label>{{ localize "dhs-jdr.ui.sheets.inventory.equipment.title" }}</label>
        </div>

        <div class="container" data-category="inventory">

            {{#each actor.system.inventory.weapons as |item id|}}
                {{> "systems/dhs-jdr/templates/items/weapon.hbs" item=item id=id}}
            {{/each}} 

            {{#each actor.system.inventory.armors as |item id|}}
                {{> "systems/dhs-jdr/templates/items/armor.hbs" item=item id=id}}
            {{/each}}                   

            <div class="addEquipmentRow">
                <div class="addWeaponButton">                  
                    <i class="fas fa-plus-circle addItem" data-type="weapons"></i>
                </div>  

                <div class="addArmorButton">                  
                    <i class="fas fa-plus-circle addItem" data-type="armors"></i>
                </div>            
            </div>
        </div>
    </div>
</div>